<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.superc.shangjiaban">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".base.AppAppLication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name=".ui.activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.LoginActivity">
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AddVillageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ui.activity.SearchVillageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.WuyeEditActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.AddAplyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SearchTxJLActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ui.activity.OrderSearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.OrderSearchfhActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.OrderSearchZtActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ShopFHActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5aaf58578f4a9d1c9100007b"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>

        <service
            android:name=".others.MyService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".ui.SettingActivity">
        </activity>
    </application>

</manifest>